.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    position: relative;
    padding: 60px 20px 0px 20px;
    border-radius: 10px;
  }
  .card img{
    top: -40px;
    left: 35%;
    width: 30%;
    position: absolute;
    border-radius: 50%;
  }

  .p-title {
    color: grey;
    font-size: 12px;
  }
  
  .p-btn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    /* background-color: #000; */
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .p-btn i{color: #0e6bcd;font-size: 30px;}
  
  
  .p-btn:hover {
    opacity: 0.7;
  }