<div class="limiter">
    <div class="container-login100" style="background-image: url('assets/images/bg-01.jpg');position: relative;">
      <h4 class="login200-form-title">User Details</h4>
      <!-- <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33"> -->
        <form class="login100-form validate-form flex-sb flex-w">
          
            <div class="card">
                <img src="{{currentUser.image}}" alt="John">
                <h4>{{currentUser.name}}</h4>
                <p class="p-title">{{currentUser.email}}</p>
                <p>{{currentUser.provider}}</p>
                <p><button class="p-btn" (click)="logout()" title="Logout"><i class="fas fa-sign-out-alt"></i></button></p>
            </div>
        
        </form>
      <!-- </div> -->
    </div>
  </div>