


<!-- <button type="button" class="btn btn-success">Connect</button> -->
<!-- <button type="button" class="btn btn-primary" (click)="socialSignIn('facebook')">Sign in with Facebook</button>
<button type="button" class="btn btn-success" (click)="socialSignIn('google')">Sign in with Google</button>  -->


<div class="limiter">
  <div class="container-login100" style="background-image: url('assets/images/bg-01.jpg');position: relative;">
    <h4 class="login200-form-title">Connect your email account</h4>
    <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
      <form class="login100-form validate-form flex-sb flex-w">
        <a href="javascript:void(0)" (click)="socialSignIn('google')" class="btn-google m-b-20">
          <img src="assets/images/icons/Gmail_Icon.png" alt="GOOGLE">
          Google Mail
        </a>
        <span class="login100-form-title p-b-30">
          Connect to your Gmail account
        </span>
        <p style="text-align:center;">In order to get the most out of your experience, we need to connect to your Gmail account to pull relevant information to your account.</p>
        <!-- <a href="#" class="btn-face m-b-20">
          <i class="fa fa-facebook-official"></i>
          Facebook
        </a> -->
        <button type="button" class="p-tb-lr-375-3 btn btn-success m-l-r-auto" (click)="socialSignIn('google')">Connect</button>

      
      </form>
    </div>
  </div>
</div>